#Trigger {
    float: left !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
    margin-top: 15px !important;
}
#IMD {
    float: right !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
#SDC {
    float: left !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
#Bspd {
    float: right !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
#MOM1 {
    float: left !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
#MOM2 {
    float: right !important;
    width: 50%;
    margin-left: 15px !important;
    margin-right: 15px !important;
}
.container {
    position: relative !important;
    width: 500px !important;
    height: 250px !important;
    justify-content: unset !important;
    align-items: unset !important;
    margin-left: unset !important;
    margin-right: unset !important;
}

div {
    display: unset !important;
}